{% extends 'read_csv/base.html' %}

{% block title %}
Тестовое задание
{% endblock %}

{% block content_title %}
<p> Задание </p>
{% endblock %}

{% block content %}
<div>

    <h3><p><b> Тестовое задание на вакансию «Разработчик Python» </b></h3>
    </p>

    <p><b>Задача - сделать "баннерокрутилку".</b></p>
    Она должна представлять из себя простой веб-сервис написанный на python с использованием любых показавшихся
    необходимыми библиотек.

    Есть неизменяемый файл конфигурации в CSV, который содержит данные вида:
    Image URL;shows;category1;category2;category3; … ;category N
    <p><b>Пример:</b></p>
    <p> http://images.com/bannerimage.jpg;1000;auto;bikes;transport; ... </p>
    Количество записей в файле не более 1000. Файл содержит только символы.
    Показы (shows) - сколько раз баннер нужно показать. Категорий у одного баннера
    может быть от 1 до 10 штук, записанных в соответствующих колонках.
    <p><b>Пример:</b>
    <p>http://banners.com/banner1.jpg;500;flight;airlplane</p>
    <p>http://banners.com/banner2.jpg;3300;show;britain;benny hill;sketches;tv</p>
    <p>http://banners.com/banner3.jpg;1500;games;minecraft;blocks;sandbox</p>
    <p>http://banners.com/banner4.jpg;120;onlycategory</p>
    <p>При запуске баннерокрутилка читает конфиг и начинает слушать HTTP обращения.</p>
    <p>Клиент HTTP GET запросом сообщает категории, которые он готов принять, к
        примеру:</p>
    http://bannerokrutilka.com/?category[]=auto&category[]=trains
    <p>Количество запрошенных категорий может быть от 0 до 10 штук.</p>

    В ответ на него баннерокрутилка должна выдавать простую HTML обертку с
    изображением баннера, который совпадает минимум по одной категории.
    Категории баннера произвольны если в запросе категорий не указано. Каждый
    показ вычитается из количества оплаченных.
    <p> По характеру запросов считаем, что:
        1. не будут запрашиваться категории, которых нет в конфиге.
        2. количество запрошенных категорий равновероятно в рамках 0-10.
        3. появление любой из категорий в запросе равновероятно.</p>
    <p><b> Дополнительные плюсы:</b></p>
    <p>1. Код соответствует PEP8.</p>
    <p> 2. Механизм, который уменьшает вероятность выдачи одной и той же картинки
        несколько раз подряд</p>
    <p>3. Механизм, который позволит показать все баннеры за меньшее количество
        запросов, так как возможна ситуация, когда для запрошенных категорий
        категории все подходящие баннеры уже исчерпали свой лимит и ответить на
        запрос нечем. Нужно минимизировать вероятность возникновения таких случаев.</p>
    <p>4. Наличие тестов.</p>
</div>
{% endblock %}