{% extends "read_csv/base.html" %}
{% load staticfiles %}
{% block title %}
    Список категорий
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Категории</h3>
          <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr class="bg-red text-white">
            <th>ID</th>
            <th>Название категории</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for categori in category %}
        <tr>
            <td scope="row">{{ categori.id }}</td>
            <td>{{ categori.name }}</td>
            <td>{{ categori.description }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}